@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 400;
	src: url('assets/fonts/PlusJakartaSans-Regular.woff2') format('woff2');
	font-display: fallback;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: medium;
	font-weight: 500;
	src: url('assets/fonts/PlusJakartaSans-Medium.woff2') format('woff2');
	font-display: fallback;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: medium;
	font-weight: 600;
	src: url('assets/fonts/PlusJakartaSans-SemiBold.woff2') format('woff2');
	font-display: fallback;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 700;
	src: url('assets/fonts/PlusJakartaSans-Bold.woff2') format('woff2');
	font-display: fallback;
}
