/**
 * cre8-a2ui: all tokens
 */

:root {
  --cre8-desktop-menu-padding-vertical-padding: 1rem;
  --cre8-desktop-menu-padding-horizontal-padding: 0.5rem;
  --cre8-input-padding: 1.5rem 2rem;
  --cre8-input-label-margin-left: 1rem;
  --cre8-color-header-bg-default: #ffffff;
  --cre8-color-header-inverse-bg-default: #3B82F6;
  --cre8-color-header-menu-bg-default: #ffffff;
  --cre8-color-header-menu-inverse-bg-default: #3B82F6;
  --cre8-color-header-menu-bg-hover: #F8FAFC;
  --cre8-color-header-menu-inverse-bg-hover: #2563EB;
  --cre8-color-header-menu-bg-focus: #F8FAFC;
  --cre8-color-header-menu-inverse-bg-focus: #2563EB;
  --cre8-color-header-menu-bg-active: #E2E8F0;
  --cre8-color-header-menu-inverse-bg-active: #1D4ED8;
  --cre8-color-header-menu-bg-pressed: #E2E8F0;
  --cre8-color-header-menu-inverse-bg-pressed: #1D4ED8;
  --cre8-color-header-menu-bg-selected: #F8FAFC;
  --cre8-color-header-menu-inverse-bg-selected: #2563EB;
  --cre8-color-header-menu-content-default: #3B82F6;
  --cre8-color-header-menu-inverse-content-default: #ffffff;
  --cre8-color-header-menu-content-hover: #2563EB;
  --cre8-color-header-menu-inverse-content-hover: #ffffff;
  --cre8-color-header-menu-content-focus: #3B82F6;
  --cre8-color-header-menu-inverse-content-focus: #ffffff;
  --cre8-color-header-menu-content-active: #1D4ED8;
  --cre8-color-header-menu-inverse-content-active: #ffffff;
  --cre8-color-header-menu-content-pressed: #1D4ED8;
  --cre8-color-header-menu-inverse-content-pressed: #ffffff;
  --cre8-color-header-menu-content-selected: #2563EB;
  --cre8-color-header-menu-inverse-content-selected: #ffffff;
  --cre8-color-header-menu-border-default: rgba(15, 23, 42, 0.0);
  --cre8-color-header-menu-inverse-border-default: rgba(15, 23, 42, 0.0);
  --cre8-color-header-menu-border-hover: rgba(15, 23, 42, 0.0);
  --cre8-color-header-menu-inverse-border-hover: #ffffff;
  --cre8-color-header-menu-border-focus: #2563EB;
  --cre8-color-header-menu-inverse-border-focus: #ffffff;
  --cre8-color-header-menu-border-active: #3B82F6;
  --cre8-color-header-menu-inverse-border-active: #ffffff;
  --cre8-color-header-menu-border-pressed: #3B82F6;
  --cre8-color-header-menu-inverse-border-pressed: #ffffff;
  --cre8-color-header-menu-border-selected: #2563EB;
  --cre8-color-header-menu-inverse-border-selected: #F8FAFC;
  --cre8-color-header-submenu-bg-default: #ffffff;
  --cre8-color-header-submenu-inverse-bg-default: #3B82F6;
  --cre8-color-header-submenu-bg-hover: #F8FAFC;
  --cre8-color-header-submenu-inverse-bg-hover: #2563EB;
  --cre8-color-header-submenu-bg-focus: #ffffff;
  --cre8-color-header-submenu-inverse-bg-focus: #3B82F6;
  --cre8-color-header-submenu-bg-active: #E2E8F0;
  --cre8-color-header-submenu-inverse-bg-active: #1D4ED8;
  --cre8-color-header-submenu-bg-pressed: #E2E8F0;
  --cre8-color-header-submenu-inverse-bg-pressed: #1D4ED8;
  --cre8-color-header-submenu-bg-selected: #F8FAFC;
  --cre8-color-header-submenu-inverse-bg-selected: #2563EB;
  --cre8-color-header-submenu-content-default: #3B82F6;
  --cre8-color-header-submenu-inverse-content-default: #ffffff;
  --cre8-color-header-submenu-content-hover: #2563EB;
  --cre8-color-header-submenu-inverse-content-hover: #ffffff;
  --cre8-color-header-submenu-content-focus: #2563EB;
  --cre8-color-header-submenu-inverse-content-focus: #ffffff;
  --cre8-color-header-submenu-content-active: #1D4ED8;
  --cre8-color-header-submenu-inverse-content-active: #ffffff;
  --cre8-color-header-submenu-content-pressed: #1D4ED8;
  --cre8-color-header-submenu-inverse-content-pressed: #ffffff;
  --cre8-color-header-submenu-content-selected: #3B82F6;
  --cre8-color-header-submenu-inverse-content-selected: #ffffff;
  --cre8-color-header-submenu-border-default: #ffffff;
  --cre8-color-header-submenu-inverse-border-default: #3B82F6;
  --cre8-color-header-submenu-border-hover: #F8FAFC;
  --cre8-color-header-submenu-inverse-border-hover: #2563EB;
  --cre8-color-header-submenu-border-focus: #3B82F6;
  --cre8-color-header-submenu-inverse-border-focus: #ffffff;
  --cre8-color-header-submenu-border-active: #E2E8F0;
  --cre8-color-header-submenu-inverse-border-active: #1D4ED8;
  --cre8-color-header-submenu-border-pressed: #E2E8F0;
  --cre8-color-header-submenu-inverse-border-pressed: #1D4ED8;
  --cre8-color-header-submenu-border-selected: #2563EB;
  --cre8-color-header-submenu-inverse-border-selected: #F8FAFC;
  --cre8-color-header-bg-secondary: #3B82F6;
  --cre8-color-header-inverse-bg-secondary: #ffffff;
  --cre8-color-header-bg-tertiary: #3B82F6;
  --cre8-color-header-inverse-bg-tertiary: #ffffff;
  --cre8-color-footer-bg-default: #1E40AF;
  --cre8-color-footer-bg-secondary: #F8FAFC;
  --cre8-color-footer-content-secondary: #ffffff;
  --cre8-color-footer-link-hover: #93C5FD;
  --cre8-color-footer-link-default: #93C5FD;
  --cre8-spacing-0: 0rem;
  --cre8-spacing-2: 0.125rem;
  --cre8-spacing-4: 0.25rem;
  --cre8-spacing-6: 0.375rem;
  --cre8-spacing-8: 0.5rem;
  --cre8-spacing-12: 0.75rem;
  --cre8-spacing-14: 0.875rem;
  --cre8-spacing-16: 1rem;
  --cre8-spacing-18: 1.125rem;
  --cre8-spacing-24: 1.5rem;
  --cre8-spacing-32: 2rem;
  --cre8-spacing-40: 2.5rem;
  --cre8-spacing-48: 3rem;
  --cre8-spacing-64: 4rem;
  --cre8-spacing-80: 5rem;
  --cre8-spacing-96: 6rem;
  --cre8-spacing-120: 7.5rem;
  --cre8-spacing-160: 10rem;
  --cre8-color-button-primary-bg: #3B82F6;
  --cre8-color-button-primary-inverse-bg: #BFDBFE;
  --cre8-color-button-primary-bg-hover: #2563EB;
  --cre8-color-button-primary-inverse-bg-hover: #93C5FD;
  --cre8-color-button-primary-bg-active: #1D4ED8;
  --cre8-color-button-primary-inverse-bg-active: #60A5FA;
  --cre8-color-button-primary-bg-disabled: #E2E8F0;
  --cre8-color-button-primary-inverse-bg-disabled: #64748B;
  --cre8-color-button-primary-content: #ffffff;
  --cre8-color-button-primary-inverse-content: #1E40AF;
  --cre8-color-button-primary-content-hover: #ffffff;
  --cre8-color-button-primary-inverse-content-hover: #1E40AF;
  --cre8-color-button-primary-content-active: #ffffff;
  --cre8-color-button-primary-inverse-content-active: #1E40AF;
  --cre8-color-button-primary-content-disabled: #475569;
  --cre8-color-button-primary-inverse-content-disabled: #1E293B;
  --cre8-color-button-primary-border: #3B82F6;
  --cre8-color-button-primary-inverse-border: #BFDBFE;
  --cre8-color-button-primary-border-hover: #2563EB;
  --cre8-color-button-primary-inverse-border-hover: #93C5FD;
  --cre8-color-button-primary-border-active: #1D4ED8;
  --cre8-color-button-primary-inverse-border-active: #60A5FA;
  --cre8-color-button-primary-border-disabled: #E2E8F0;
  --cre8-color-button-primary-inverse-border-disabled: #64748B;
  --cre8-color-button-primary-outline: #1D4ED8;
  --cre8-color-button-primary-inverse-outline: #BFDBFE;
  --cre8-color-button-primary-danger-bg: #EC4899;
  --cre8-color-button-primary-danger-inverse-bg: #F9A8D4;
  --cre8-color-button-primary-danger-bg-hover: #DB2777;
  --cre8-color-button-primary-danger-inverse-bg-hover: #FBCFE8;
  --cre8-color-button-primary-danger-bg-active: #BE185D;
  --cre8-color-button-primary-danger-inverse-bg-active: #FCE7F3;
  --cre8-color-button-primary-danger-bg-disabled: #E2E8F0;
  --cre8-color-button-primary-danger-inverse-bg-disabled: #64748B;
  --cre8-color-button-primary-danger-content: #ffffff;
  --cre8-color-button-primary-danger-inverse-content: #0F172A;
  --cre8-color-button-primary-danger-content-hover: #ffffff;
  --cre8-color-button-primary-danger-inverse-content-hover: #0F172A;
  --cre8-color-button-primary-danger-content-active: #ffffff;
  --cre8-color-button-primary-danger-inverse-content-active: #0F172A;
  --cre8-color-button-primary-danger-content-disabled: #475569;
  --cre8-color-button-primary-danger-inverse-content-disabled: #1E293B;
  --cre8-color-button-primary-danger-border: #EC4899;
  --cre8-color-button-primary-danger-inverse-border: #F9A8D4;
  --cre8-color-button-primary-danger-border-hover: #DB2777;
  --cre8-color-button-primary-danger-inverse-border-hover: #FBCFE8;
  --cre8-color-button-primary-danger-border-active: #BE185D;
  --cre8-color-button-primary-danger-inverse-border-active: #FCE7F3;
  --cre8-color-button-primary-danger-border-disabled: #E2E8F0;
  --cre8-color-button-primary-danger-inverse-border-disabled: #64748B;
  --cre8-color-button-primary-danger-outline: #1D4ED8;
  --cre8-color-button-primary-danger-inverse-outline: #BFDBFE;
  --cre8-color-button-secondary-neutral-bg: rgba(15, 23, 42, 0.0);
  --cre8-color-button-secondary-neutral-inverse-bg: rgba(15, 23, 42, 0.0);
  --cre8-color-button-secondary-neutral-content: #0F172A;
  --cre8-color-button-secondary-neutral-inverse-content: #ffffff;
  --cre8-color-button-secondary-neutral-border: #0F172A;
  --cre8-color-button-secondary-neutral-inverse-border: #ffffff;
  --cre8-color-button-secondary-neutral-bg-hover: rgba(15, 23, 42, 0.10);
  --cre8-color-button-secondary-neutral-inverse-bg-hover: rgba(15, 23, 42, 0.20);
  --cre8-color-button-secondary-neutral-content-hover: #0F172A;
  --cre8-color-button-secondary-neutral-inverse-content-hover: #ffffff;
  --cre8-color-button-secondary-neutral-border-hover: #0F172A;
  --cre8-color-button-secondary-neutral-inverse-border-hover: #ffffff;
  --cre8-color-button-secondary-neutral-border-active: #0F172A;
  --cre8-color-button-secondary-neutral-inverse-border-active: #ffffff;
  --cre8-color-button-secondary-neutral-bg-active: rgba(15, 23, 42, 0.20);
  --cre8-color-button-secondary-neutral-inverse-bg-active: rgba(15, 23, 42, 0.50);
  --cre8-color-button-secondary-neutral-content-active: #0F172A;
  --cre8-color-button-secondary-neutral-inverse-content-active: #ffffff;
  --cre8-color-button-secondary-neutral-bg-disabled: #E2E8F0;
  --cre8-color-button-secondary-neutral-inverse-bg-disabled: #64748B;
  --cre8-color-button-secondary-neutral-border-disabled: #E2E8F0;
  --cre8-color-button-secondary-neutral-inverse-border-disabled: #64748B;
  --cre8-color-button-secondary-neutral-content-disabled: #475569;
  --cre8-color-button-secondary-neutral-inverse-content-disabled: #1E293B;
  --cre8-color-button-secondary-neutral-outline: #1E3A8A;
  --cre8-color-button-secondary-neutral-inverse-outline: #BFDBFE;
  --cre8-color-button-secondary-bg: rgba(15, 23, 42, 0.0);
  --cre8-color-button-secondary-inverse-bg: rgba(15, 23, 42, 0.0);
  --cre8-color-button-secondary-bg-hover: #EFF6FF;
  --cre8-color-button-secondary-inverse-bg-hover: rgba(15, 23, 42, 0.0);
  --cre8-color-button-secondary-bg-active: #DBEAFE;
  --cre8-color-button-secondary-inverse-bg-active: #1E3A8A;
  --cre8-color-button-secondary-bg-disabled: #E2E8F0;
  --cre8-color-button-secondary-inverse-bg-disabled: rgba(15, 23, 42, 0.0);
  --cre8-color-button-secondary-content: #3B82F6;
  --cre8-color-button-secondary-inverse-content: #BFDBFE;
  --cre8-color-button-secondary-content-hover: #2563EB;
  --cre8-color-button-secondary-inverse-content-hover: #93C5FD;
  --cre8-color-button-secondary-content-active: #1D4ED8;
  --cre8-color-button-secondary-inverse-content-active: #60A5FA;
  --cre8-color-button-secondary-content-disabled: #475569;
  --cre8-color-button-secondary-inverse-content-disabled: #64748B;
  --cre8-color-button-secondary-border: #3B82F6;
  --cre8-color-button-secondary-inverse-border: #BFDBFE;
  --cre8-color-button-secondary-border-hover: #2563EB;
  --cre8-color-button-secondary-inverse-border-hover: #93C5FD;
  --cre8-color-button-secondary-border-active: #1D4ED8;
  --cre8-color-button-secondary-inverse-border-active: #60A5FA;
  --cre8-color-button-secondary-border-disabled: #64748B;
  --cre8-color-button-secondary-inverse-border-disabled: #64748B;
  --cre8-color-button-secondary-outline: #1D4ED8;
  --cre8-color-button-secondary-inverse-outline: #93C5FD;
  --cre8-color-button-secondary-danger-bg: rgba(15, 23, 42, 0.0);
  --cre8-color-button-secondary-danger-inverse-bg: rgba(15, 23, 42, 0.0);
  --cre8-color-button-secondary-danger-bg-hover: #DB2777;
  --cre8-color-button-secondary-danger-inverse-bg-hover: #FBCFE8;
  --cre8-color-button-secondary-danger-bg-active: #BE185D;
  --cre8-color-button-secondary-danger-inverse-bg-active: #FCE7F3;
  --cre8-color-button-secondary-danger-bg-disabled: #E2E8F0;
  --cre8-color-button-secondary-danger-inverse-bg-disabled: #64748B;
  --cre8-color-button-secondary-danger-content: #EC4899;
  --cre8-color-button-secondary-danger-inverse-content: #F472B6;
  --cre8-color-button-secondary-danger-content-hover: #ffffff;
  --cre8-color-button-secondary-danger-inverse-content-hover: #0F172A;
  --cre8-color-button-secondary-danger-content-active: #ffffff;
  --cre8-color-button-secondary-danger-inverse-content-active: #0F172A;
  --cre8-color-button-secondary-danger-content-disabled: #475569;
  --cre8-color-button-secondary-danger-inverse-content-disabled: #1E293B;
  --cre8-color-button-secondary-danger-border: #EC4899;
  --cre8-color-button-secondary-danger-inverse-border: #F472B6;
  --cre8-color-button-secondary-danger-border-hover: #DB2777;
  --cre8-color-button-secondary-danger-inverse-border-hover: #FBCFE8;
  --cre8-color-button-secondary-danger-border-active: #BE185D;
  --cre8-color-button-secondary-danger-inverse-border-active: #FCE7F3;
  --cre8-color-button-secondary-danger-border-disabled: #E2E8F0;
  --cre8-color-button-secondary-danger-inverse-border-disabled: #64748B;
  --cre8-color-button-secondary-danger-outline: #1D4ED8;
  --cre8-color-button-secondary-danger-inverse-outline: #BFDBFE;
  --cre8-color-button-tertiary-bg: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-inverse-bg: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-bg-hover: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-inverse-bg-hover: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-bg-active: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-inverse-bg-active: #172554;
  --cre8-color-button-tertiary-bg-disabled: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-inverse-bg-disabled: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-content: #3B82F6;
  --cre8-color-button-tertiary-inverse-content: #BFDBFE;
  --cre8-color-button-tertiary-content-hover: #2563EB;
  --cre8-color-button-tertiary-inverse-content-hover: #93C5FD;
  --cre8-color-button-tertiary-content-active: #1D4ED8;
  --cre8-color-button-tertiary-inverse-content-active: #60A5FA;
  --cre8-color-button-tertiary-content-disabled: #475569;
  --cre8-color-button-tertiary-inverse-content-disabled: #64748B;
  --cre8-color-button-tertiary-border: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-inverse-border: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-border-hover: #2563EB;
  --cre8-color-button-tertiary-inverse-border-hover: #93C5FD;
  --cre8-color-button-tertiary-border-active: #1D4ED8;
  --cre8-color-button-tertiary-inverse-border-active: #60A5FA;
  --cre8-color-button-tertiary-border-disabled: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-inverse-border-disabled: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-outline: #1D4ED8;
  --cre8-color-button-tertiary-inverse-outline: #93C5FD;
  --cre8-color-button-tertiary-neutral-bg: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-neutral-inverse-bg: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-neutral-content: #0F172A;
  --cre8-color-button-tertiary-neutral-inverse-content: #ffffff;
  --cre8-color-button-tertiary-neutral-border: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-neutral-inverse-border: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-neutral-bg-hover: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-neutral-inverse-bg-hover: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-neutral-content-hover: #0F172A;
  --cre8-color-button-tertiary-neutral-inverse-content-hover: #ffffff;
  --cre8-color-button-tertiary-neutral-border-hover: #0F172A;
  --cre8-color-button-tertiary-neutral-inverse-border-hover: #ffffff;
  --cre8-color-button-tertiary-neutral-border-active: #0F172A;
  --cre8-color-button-tertiary-neutral-inverse-border-active: #ffffff;
  --cre8-color-button-tertiary-neutral-bg-active: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-neutral-inverse-bg-active: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-neutral-content-active: #0F172A;
  --cre8-color-button-tertiary-neutral-inverse-content-active: #ffffff;
  --cre8-color-button-tertiary-neutral-bg-disabled: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-neutral-inverse-bg-disabled: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-neutral-border-disabled: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-neutral-inverse-border-disabled: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-neutral-content-disabled: #475569;
  --cre8-color-button-tertiary-neutral-inverse-content-disabled: #1E293B;
  --cre8-color-button-tertiary-neutral-outline: #1E3A8A;
  --cre8-color-button-tertiary-neutral-inverse-outline: #BFDBFE;
  --cre8-color-button-tertiary-danger-bg: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-danger-inverse-bg: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-danger-bg-hover: #DB2777;
  --cre8-color-button-tertiary-danger-inverse-bg-hover: #FBCFE8;
  --cre8-color-button-tertiary-danger-bg-active: #BE185D;
  --cre8-color-button-tertiary-danger-inverse-bg-active: #FCE7F3;
  --cre8-color-button-tertiary-danger-bg-disabled: #E2E8F0;
  --cre8-color-button-tertiary-danger-inverse-bg-disabled: #64748B;
  --cre8-color-button-tertiary-danger-content: #EC4899;
  --cre8-color-button-tertiary-danger-inverse-content: #F472B6;
  --cre8-color-button-tertiary-danger-content-hover: #ffffff;
  --cre8-color-button-tertiary-danger-inverse-content-hover: #0F172A;
  --cre8-color-button-tertiary-danger-content-active: #ffffff;
  --cre8-color-button-tertiary-danger-inverse-content-active: #0F172A;
  --cre8-color-button-tertiary-danger-content-disabled: #475569;
  --cre8-color-button-tertiary-danger-inverse-content-disabled: #1E293B;
  --cre8-color-button-tertiary-danger-border: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-danger-inverse-border: rgba(15, 23, 42, 0.0);
  --cre8-color-button-tertiary-danger-border-hover: #DB2777;
  --cre8-color-button-tertiary-danger-inverse-border-hover: #FBCFE8;
  --cre8-color-button-tertiary-danger-border-active: #BE185D;
  --cre8-color-button-tertiary-danger-inverse-border-active: #FCE7F3;
  --cre8-color-button-tertiary-danger-border-disabled: #E2E8F0;
  --cre8-color-button-tertiary-danger-inverse-border-disabled: #64748B;
  --cre8-color-button-tertiary-danger-outline: #1D4ED8;
  --cre8-color-button-tertiary-danger-inverse-outline: #BFDBFE;
  --cre8-button-padding-vertical-small: 0.5rem;
  --cre8-button-padding-vertical-medium: 0.75rem;
  --cre8-button-padding-vertical-large: 1rem;
  --cre8-button-padding-vertical-icon-only: 0.5rem;
  --cre8-button-padding-vertical-small-icon-only: 0.5rem;
  --cre8-button-padding-vertical-medium-icon-only: 1rem;
  --cre8-button-padding-vertical-large-icon-only: 1rem;
  --cre8-button-padding-horizontal-small: 1rem;
  --cre8-button-padding-horizontal-medium: 1.5rem;
  --cre8-button-padding-horizontal-large: 2rem;
  --cre8-button-padding-horizontal-icon-only: 0.5rem;
  --cre8-button-padding-horizontal-small-icon-only: 0.5rem;
  --cre8-button-padding-horizontal-medium-icon-only: 1rem;
  --cre8-button-padding-horizontal-large-icon-only: 1rem;
  --cre8-color-bg-default: #ffffff;
  --cre8-color-bg-default-hover: #F8FAFC;
  --cre8-color-bg-default-active: #DBEAFE;
  --cre8-color-bg-subtle: #F1F5F9;
  --cre8-color-bg-moderate: #94A3B8;
  --cre8-color-bg-inverse-moderate: #64748B;
  --cre8-color-bg-strong: #1E293B;
  --cre8-color-bg-disabled: #E2E8F0;
  --cre8-color-bg-brand: #ffffff;
  --cre8-color-bg-brand-active: #BFDBFE;
  --cre8-color-bg-brand-hover: #DBEAFE;
  --cre8-color-bg-brand-strong: #3B82F6;
  --cre8-color-bg-brand-strong-hover: #2563EB;
  --cre8-color-bg-brand-strong-active: #1D4ED8;
  --cre8-color-bg-brand-xstrong: #1E40AF;
  --cre8-color-bg-brand-xstrong-hover: #1D4ED8;
  --cre8-color-bg-brand-xstrong-active: #1E3A8A;
  --cre8-color-bg-success: #ECFEFF;
  --cre8-color-bg-success-strong: #06B6D4;
  --cre8-color-bg-error: #FDF2F8;
  --cre8-color-bg-error-strong: #EC4899;
  --cre8-color-bg-warning: #FFFBEB;
  --cre8-color-bg-warning-strong: #F59E0B;
  --cre8-color-bg-info: #EFF6FF;
  --cre8-color-bg-info-strong: #3B82F6;
  --cre8-color-bg-attention: #ffffff;
  --cre8-color-bg-attention-strong: #60A5FA;
  --cre8-color-bg-opacity-transparent: rgba(15, 23, 42, 0.0);
  --cre8-color-bg-opacity-default: rgba(15, 23, 42, 0.50);
  --cre8-color-bg-active: #0F172A;
  --cre8-color-bg-inverse-active: #ffffff;
  --cre8-color-content-default: #0F172A;
  --cre8-color-content-subtle: #64748B;
  --cre8-color-content-disabled: #94A3B8;
  --cre8-color-content-knockout: #ffffff;
  --cre8-color-content-brand: #3B82F6;
  --cre8-color-content-brand-strong: #2563EB;
  --cre8-color-content-brand-knockout: #ECFEFF;
  --cre8-color-content-success: #0891B2;
  --cre8-color-content-success-icon: #0891B2;
  --cre8-color-content-error: #DB2777;
  --cre8-color-content-error-icon: #DB2777;
  --cre8-color-content-warning-icon: #D97706;
  --cre8-color-content-info-icon: #3B82F6;
  --cre8-color-content-attention-icon: #60A5FA;
  --cre8-color-content-link: #3B82F6;
  --cre8-color-content-inverse-link: #BFDBFE;
  --cre8-color-content-link-hover: #2563EB;
  --cre8-color-content-inverse-link-hover: #93C5FD;
  --cre8-color-content-link-focus: #ffffff;
  --cre8-color-content-inverse-link-focus: #0F172A;
  --cre8-color-content-link-visited: #7C3AED;
  --cre8-color-content-inverse-link-visited: #E9D5FF;
  --cre8-color-content-link-disabled: #475569;
  --cre8-color-content-inverse-link-disabled: #E2E8F0;
  --cre8-color-content-link-active: #1D4ED8;
  --cre8-color-content-inverse-link-active: #60A5FA;
  --cre8-color-border-default: #E2E8F0;
  --cre8-color-border-strong: #64748B;
  --cre8-color-border-knockout: #ffffff;
  --cre8-color-border-disabled: #CBD5E1;
  --cre8-color-border-brand: #3B82F6;
  --cre8-color-border-brand-subtle: #93C5FD;
  --cre8-color-border-brand-strong: #2563EB;
  --cre8-color-border-success: #22D3EE;
  --cre8-color-border-error: #F472B6;
  --cre8-color-border-warning: #FBBF24;
  --cre8-color-border-info: #3B82F6;
  --cre8-color-border-attention: #60A5FA;
  --cre8-color-border-transparent: rgba(15, 23, 42, 0.0);
  --cre8-color-border-active-outline: #2563EB;
  --cre8-color-border-inverse-active-outline: #BFDBFE;
  --cre8-font-size-0: 0.75rem;
  --cre8-font-size-1: 0.875rem;
  --cre8-font-size-2: 1rem;
  --cre8-font-size-3: 1.125rem;
  --cre8-font-size-4: 1.25rem;
  --cre8-font-size-5: 1.5rem;
  --cre8-font-size-6: 1.75rem;
  --cre8-font-size-7: 2rem;
  --cre8-font-size-8: 2.5rem;
  --cre8-font-size-9: 3rem;
  --cre8-font-size-10: 3.5rem;
  --cre8-font-size-11: 4rem;
  --cre8-font-size-12: 4.5rem;
  --cre8-font-size-13: 5rem;
  --cre8-letter-spacing-0: -1.5;
  --cre8-letter-spacing-1: -1;
  --cre8-letter-spacing-2: -0.5;
  --cre8-letter-spacing-3: 0;
  --cre8-letter-spacing-4: 2;
  --cre8-letter-spacing-5: 1;
  --cre8-letter-spacing-6: 1.5;
  --cre8-paragraph-spacing-0: 0;
  --cre8-text-case-none: none;
  --cre8-text-case-uppercase: uppercase;
  --cre8-text-decoration-none: none;
  --cre8-text-decoration-underline: underline;
  --cre8-paragraph-indent-0: 0px;
  --cre8-border-radius-small: 12px;
  --cre8-border-radius-default: 900px;
  --cre8-border-radius-large: 24px;
  --cre8-border-radius-round: 900px;
  --cre8-border-radius-button: 900px;
  --cre8-border-radius-badge: 900px;
  --cre8-border-radius-tabs: 12px;
  --cre8-border-radius-container: 24px;
  --cre8-border-radius-field: 12px;
  --cre8-border-radius-field-brand: 12px;
  --cre8-border-radius-brand: 900px;
  --cre8-border-radius-none: 0px;
  --cre8-border-width-none: 0rem;
  --cre8-border-width-default: 0.0625rem;
  --cre8-border-width-focus: 0.125rem;
  --cre8-border-width-large: 0.25rem;
  --cre8-border-width-button-tertiary-outline-focus: 0.125rem;
  --cre8-border-width-button-default: 0.125rem;
  --cre8-border-width-tab-selected: 0.125rem;
  --cre8-border-width-tab-default: 0.125rem;
  --cre8-border-style-button-tertiary-outline-focus: solid;
  --cre8-border-style-default: solid;
  --cre8-shadow-default: 0 4px 12px 0 rgba(15,23,42,0.08);
  --cre8-shadow-button: none;
  --cre8-shadow-none: none;
  --cre8-shadow-large: 0 8px 24px 0 rgba(15,23,42,0.12);
  --cre8-shadow-small: 0 1px 3px 0 rgba(15,23,42,0.06);
  --cre8-color-link-bg-active: #0F172A;
  --cre8-font-families-inter: "Plus Jakarta Sans", sans-serif;
  --cre8-font-weights-inter-0: 400;
  --cre8-font-weights-inter-1: 500;
  --cre8-font-weights-inter-2: 700;
  --cre8-font-weights-inter-3: 600;
  --cre8-line-heights-0: 1.25;
  --cre8-line-heights-1: 1.12;
  --cre8-line-heights-2: 1.1400000000000001;
  --cre8-line-heights-3: 1.2;
  --cre8-line-heights-4: 1.3;
  --cre8-line-heights-5: 1.33;
  --cre8-line-heights-6: 1.4000000000000001;
  --cre8-line-heights-7: 1.5;
  --cre8-line-heights-8: 1.43;
  --cre8-line-heights-9: 1.11;
  --cre8-line-heights-10: 1.1300000000000001;
  --cre8-line-heights-11: 1.16;
  --cre8-line-heights-12: 0.48;
  --cre8-line-heights-13: 0.4;
  --cre8-line-heights-14: 0.32;
  --cre8-line-heights-15: 0.28;
  --cre8-line-heights-16: 0.24;
  --cre8-line-heights-17: 0.2;
  --cre8-line-heights-18: 0.16;
  --cre8-icon-size-small: 0.875rem;
  --cre8-icon-size-default: 1rem;
  --cre8-icon-size-large: 1.125rem;
  --cre8-badge-padding-horizontal: 0.375rem;
  --cre8-badge-padding-vertical: 0.125rem;
  --cre8-progress-meter-height: 0.5rem;
  --cre8-breakpoint-xsm: 375px;
  --cre8-breakpoint-sm: 560px;
  --cre8-breakpoint-md: 768px;
  --cre8-breakpoint-lg: 960px;
  --cre8-breakpoint-xl: 1200px;
  --cre8-breakpoint-xxl: 1400px;
}
